.DS_Store
node_modules/
.vscode/
.npm/
.Trash/
Library/
Documents/
Downloads/
Pictures/
Movies/
Music/
Public/
Applications/
*.localized
.zsh*
.CFUserTextEncoding
.mongodb/
.plastic4/
package-lock.json
package.json
