# IDE files
.vscode/
.idea/

# Dependencies
node_modules/

# Build files
dist/
build/

# Environment files
.env
.env.local

# OS files
.DS_Store
Thumbs.db
.npm/
.Trash/
Library/
Documents/
Downloads/
Pictures/
Movies/
Music/
Public/
Applications/
*.localized
.zsh*
.CFUserTextEncoding
.mongodb/
.plastic4/
package-lock.json
package.json
